.btn-block{
	color: white !important;
	text-align: center;
}
ul.nav-treeview{
    margin-left: 15px !important;
}
tfoot {
	display: table-row-group;
}
.select2-container--default .select2-selection--single{
	height: 38px;
}
tr.search th {
	padding: 0px;
}
tr.search input{
	width: 99%;
}
ul.pagination{
	justify-content: flex-end;
}
.select2{
	width: 100% !important;
}
.form-check-input{
	top:0.7rem;
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	padding: 10px;
}
.btn-form{
	width: 100px;
}
.custom-file-label{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.dataTables_filter {
	display: none;
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
.scroll-panel {
	overflow-y: auto;
	overflow-x: auto;
	height: 800px;
	z-index: 1;
}
#data-table thead {
  background: white;
  position: sticky;
  top: 0;
  height: 70px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#data-table tfoot {
  background: white;
  position: sticky;
  top: 70px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}